<a href="https://colab.research.google.com/github/Dipankar1605/CV/blob/main/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
animals = [ 'Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [ ]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwando': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwando    South Korea
dtype: object

In [ ]:
s.values

array(['Bhutan', 'Scotland', 'Japan', 'South Korea'], dtype=object)

In [ ]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwando'], dtype='object')

In [ ]:
import numpy as np
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    120
1    806
2    210
3    892
4    784
dtype: int64

In [ ]:
import numpy as np
s = pd.Series(np.random.randint(0,1000,10000))
s.tail()

9995      5
9996    365
9997    393
9998    219
9999    566
dtype: int64

In [ ]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s[3]="907"
s

0             1
1             2
2             3
Animal    Bears
3           907
dtype: object